name: AppService deployments AZ CLI

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@master
      with: 
        repository: sanchetanparmar/TailwindTraders-Website

 
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.15.2
    - name: Install dependencies in client app
      working-directory: Source/Tailwind.Traders.Web/ClientApp
      run: npm install

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.400
    - name: Build with dotnet
      working-directory: Source/Tailwind.Traders.Web
      run: dotnet build --configuration Release
    - name: dotnet publish
      working-directory: Source/Tailwind.Traders.Web
      run: |
        dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/Source/Tailwind.Traders.Web
 
    - name: Run Azure webapp deploy action
      uses: azure/webapps-deploy@v2
      with: 
        app-name: 'example-app-service-hftt46hs'
        package: ${{env.DOTNET_ROOT}}/Source/Tailwind.Traders.Web
        publish-profile: ${{ secrets.azureWebAppPublishProfile }}

